* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lobster", cursive;
}

.header {
  padding: 20px 30px;
  background-color: #6a994e;
}

.header__navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.header__list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__item {
  list-style-type: none;
}

.header__item a {
  text-decoration: none;
  padding: 5px 15px;
}

.header__item:nth-child(1) a {
  color: #bc4749;
  border: 3px solid #bc4749;
  font-weight: bold;
}

.header__item:nth-child(1) ~ li a {
  color: black;
}

.header__item:nth-child(1) ~ li a:hover {
  text-decoration: underline;
}

/*Component Card*/

.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  overflow: hidden;
  flex: 0 1 calc(33.33% - 20px); /* Cada card ocupará un tercio del espacio menos el gap */
  max-width: 300px; /* Ajusta este valor según el diseño deseado */
  box-sizing: border-box; /* Asegura que los paddings no afecten el tamaño */
}
.card__header {
  background-color: #e63946;
  color: #fff;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  text-align: center;
  font-size: 1rem;
}

.card__image-container {
  width: 100%;
  height: 150px;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__category {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  color: #e63946;
}
.card__content {
  margin-top: 15px;
}
.card__content h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #333;
}
.card__content ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}
.card__content p {
  margin-top: 15px;
  line-height: 1.5;
}
.card__footer {
  margin-top: 15px;
  text-align: center;
}
.card__footer button {
  font-family: "Lobster", cursive;
  background-color: #e63946;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.card__footer button:hover {
  background-color: #d62839;
}

.favorites {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail__recipe-loader {
  height: calc(100vh - 64px);
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe__details {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.recipe__image {
  max-width: 400px;
  height: auto;
}

.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  margin: 0;
  background-color: #efefef;
}

.users {
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap; /* Permite que las cards bajen a otra fila */
  justify-content: center; /* Centra los elementos horizontalmente */
}

.user-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  font-family: "Lobster", cursive;
}

.user-card__icon img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.user-card__details {
  margin-left: 15px;
}

.user-card__username {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.user-card__email {
  font-size: 1rem;
  color: #6a994e;
}

.favorites__list {
  padding: 20px 30px;
  display: flex;
  background-color: #efefef;
  display: flex;
  flex-wrap: wrap; /* Permite que las cards bajen a otra fila */
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 20px;
}
