.users {
  min-height: 100vh;
  height: auto;
  background-color: #efefef;
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.users__loader {
  height: calc(100vh - 64px);
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
